header{
    background-color: rgba(65, 105, 225,0.3);
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
.boxmodel{
    border: 5px solid red;
    display: inline-block;
    /*top right bottom left*/
    padding: 5px 20px 5px 20px;
    margin: 0px 20px;
    width: 33px;
    height: 55px;
}
li{
    list-style: none;
    display: inline-block;
    color: white;
}

h2 {
    color: rgb(65, 105, 225);
    text-align: center;
    cursor: pointer;
}

p {
    color: darkblue
}