header{
    background-color: rgba(65, 105, 225,0.3);
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
li{
    list-style: none;
    display: inline-block;
    color: white;
}

h2 {
    color: rgb(65, 105, 225);
    text-align: center;
    cursor: pointer;
}

img{
    float: left;
}

footer{
    clear: both;
}

p {
    color: darkblue;
    line-height: 50px;
    font-style: italic;
    font-size: 100%;
    font-family: 'Roboto Flex', sans-serif;
}
